<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Quản lí thông số đất đai</title>
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/loginresign.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/assets/aos-master/dist/aos.css" rel="stylesheet">
    <script src="/assets/aos-master/dist/aos.js"></script>
    <script src="/assets/js/header.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="app"> 
        <header class="header" style="border:1px solid gray;background-image:url(/assets/img/dhmdc.jpg);background-size: 1500px;background-repeat:no-repeat;background-attachment: fixed;background-position:50% 15%">
            <div class="" style="position:relative ;background-color: rgba(0, 0, 0, 0.65);height:100%;z-index:2;overflow:hidden">
                <div class="grid">
                    <nav class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
                                Truy cập vào ứng dụng
                                <div class="header__qr">
                                    <img src="/assets/img/QR.jpg" alt="QR code" class="header__qr-img">
                                    <div class="header__qr-apps">
                                        <a href="https://www.netflix.com/vn/" class="header__qr-link">
                                            <img src="/assets/img/ggplay.png" title="Click to dowload in GGPlay" alt="" class="header__qr-dowload-img">
                                        </a>
                                        <a href="https://www.netflix.com/vn/" class="header__qr-link">
                                            <img src="/assets/img/appstore.png" title="Click to dowload in Appstore" alt="" class="header__qr-dowload-img">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="header__navbar-item">
                                Kết nối
                            </li>
                            <a href="" class="header__navbar-icon-link"><i class="fa-brands fa-facebook"></i></a>
                                <a href="" class="header__navbar-icon-link"><i class="fa-regular fa-envelope"></i></a>
                        </ul>
        
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--has-notify">
                                <a href="" class="header__navbar-item-link header__navbar-item--separate-2">
                                    <i class="fa-regular fa-bell"></i>
                                    Thông báo
                                </a>
                                <div class="header__notify">
                                    <header class="header__notify-header">
                                        <h3>Thông báo mới nhận</h3>
                                    </header>
                                    <ul class="header__notify-list">
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Thông báo : Dự kiến sửa đổi, quản lí về đất đai Hà Nội năm 2023</span>
                                                    <div class="header__notify-descriotion">Xem thêm>></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Thông báo : Dự kiến sửa đổi, quản lí về đất đai Hà Nội năm 2023</span>
                                                    <div class="header__notify-descriotion">Xem thêm>></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Thông báo : Dự kiến sửa đổi, quản lí về đất đai Hà Nội năm 2023</span>
                                                    <div class="header__notify-descriotion">Xem thêm>></div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <footer class="header__notify-footer">
                                        <a href="" class="header__notify-footer-btn">Xem Tất Cả</a>
                                    </footer>
                                </div>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link header__navbar-item-relative">
                                    <i class="fa-solid fa-question"></i>
                                    Trợ giúp
                                </a>
                            </li>
                            <li class="header__navbar-item-link header__navbar-item__strong " onclick="resign_open()">Đăng ký</li>
                            <li class="header__navbar-item-link header__navbar-item__strong" onclick="login_open()">Đăng nhập</li>
                        </ul>
                    </nav>
    
                    <div class="header-with-logo">
                        <div class="header__navbar-logo" style="margin-left: 40px;">
                            <img class="header__navbar-logo" src="/assets/img/download.png" alt="">
                        </div>
                        <div class="header__navbar-intro">
                            <h1 style="font-size:3rem;color:white;box-shadow: rgba(255, 255, 255, 0.545) 0px 15px 20px;border-radius:200%">WEBSITE QUẢN LÍ THÔNG SỐ ĐẤT</h1>
                        </div>
                        <div class="date-time" >

                            <time datetime="2014-09-20" class="icon">
                                <em id="thu">Thứ 2</em>
                                <strong id="thang">Tháng 12</strong>
                                <span id="ngay">18</span>
                            </time>
                            <div id="watch"><!-- Div cointainer của ví dụ -->
                                <div class="frame-face"></div>
                                <ul class="minute-marks"><!-- HTML của danh sách đánh dấu các phút -->
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                </ul>
                                <div class="digital-wrap" style="display: none;"><!-- HTML của box hiển thị giờ đang chạy -->
                                  <ul class="digit-hours">
                                    <li>23</li>
                                    <li>00</li><li>01</li><li>02</li><li>03</li><li>04</li><li>05</li>
                                    <li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li>
                                    <li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li>
                                    <li>18</li><li>19</li><li>20</li><li>21</li><li>22</li>
                                  </ul>
                                  <ul class="digit-minutes">
                                    <li>10</li><li>11</li>
                                    <li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li>
                                    <li>18</li><li>19</li><li>20</li><li>21</li><li>22</li><li>23</li>
                                    <li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li>
                                    <li>30</li><li>31</li><li>32</li><li>33</li><li>34</li><li>35</li>
                                    <li>36</li><li>37</li><li>38</li><li>39</li><li>40</li><li>41</li>
                                    <li>42</li><li>43</li><li>44</li><li>45</li><li>46</li><li>47</li>
                                    <li>48</li><li>49</li><li>50</li><li>51</li><li>52</li><li>53</li>
                                    <li>54</li><li>55</li><li>56</li><li>57</li><li>58</li><li>59</li>
                                    <li>00</li><li>01</li><li>02</li><li>03</li><li>04</li><li>05</li>
                                    <li>06</li><li>07</li><li>08</li><li>09</li>
                                  </ul>
                                  <ul class="digit-seconds">
                                    <li>20</li><li>21</li><li>22</li><li>23</li>
                                    <li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li>
                                    <li>30</li><li>31</li><li>32</li><li>33</li><li>34</li><li>35</li>
                                    <li>36</li><li>37</li><li>38</li><li>39</li><li>40</li><li>41</li>
                                    <li>42</li><li>43</li><li>44</li><li>45</li><li>46</li><li>47</li>
                                    <li>48</li><li>49</li><li>50</li><li>51</li><li>52</li><li>53</li>
                                    <li>54</li><li>55</li><li>56</li><li>57</li><li>58</li><li>59</li>
                                    <li>00</li><li>01</li><li>02</li><li>03</li><li>04</li><li>05</li>
                                    <li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li>
                                    <li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li>
                                    <li>18</li><li>19</li>
                                  </ul>
                                </div>
                                <ul class="digits"><!-- HTML số của giờ -->
                                  <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li>
                                  <li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li>
                                </ul>
                                <div class="hours-hand"></div><!-- HTML của kim giờ -->
                                <div class="minutes-hand"></div><!-- HTML của kim phút -->
                                <div class="seconds-hand"></div><!-- HTML của kim giây -->
                            </div>                              
                        </div>
                        
                    </div>
                    <div class="header__category" style="background-color: white;position:absolute;bottom:0;right:0;left:0">
                        <ul class="header__category-list">
                            <a class="header__category-item" href="/templates/index.html">Trang chủ</a>
                            <a class="header__category-item" href="">Dự án</a>
                            <a class="header__category-item" href="">DSKV</a>
                            <a class="header__category-item" href="">TS vật lí</a>
                            <a class="header__category-item" href="">TS Hóa học</a>
                            <div class="animation start-home"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </header> 
        <div class="app__container" onclick="alert('Bạn cần đăng nhập để sử dụng các chức năng của web!');modal_open()">
            <div class="grid wide" >
                <div class="row app_content">
                    <div class="home-about-us">
                        <div class="col l-4 home-ab-ct">
                            <div class="home-about-us-info" data-aos="fade-right">
                                <a href="" class="home-about-us-link home-about-us--separate">ABOUT US</a>
                                <i class="fa-solid fa-arrow-right home-about-us-icon"></i>
                            </div>
                        </div>
                        <div class="col l-4 home-ab-ct" data-aos="fade-down">
                            <a href="" class="home-about-us-item">
                                <div class="home-about-us-img-warp">
                                    <img src="/assets/img/celesta-rise-nam-lien-ke-phu-my-hung.jpg" alt="Download QR" class="home-about-us-img">
                                </div>
                                <h3 class="home-about-us-text">Với tư cách là nhà quản lý tài sản cấp cao tại TIME BIRD, tôi mang theo nhiều năm kinh nghiệm và kiến ​​thức chuyên môn. Trọng tâm của tôi là cung cấp các dịch vụ quản lý thông số đất đai và quản lý số địa chính đáng tin cậy và toàn diện, đáp ứng nhu cầu của bạn và vượt quá mong đợi của bạn.</h3>
                            </a>
                        </div>
                        <div class="col l-4 home-ab-ct" data-aos="fade-left">
                            <a href="" class="home-about-us-item">
                                <h3 class="home-about-us-text">Là chuyên gia quản lý tài sản tại TIME BIRD, tôi chuyên cung cấp thông tin địa chính đất đai chính xác và cập nhật cho khách hàng của chúng tôi. Trọng tâm của tôi là giúp bạn đưa ra quyết định sáng suốt về đầu tư bất động sản của mình.</h3>
                                <div class="home-about-us-img-warp">
                                    <img src="/assets/img/lich-su-hinh-thanh-va-phat-trien-do-thi-o-viet-nam-dac-trung-do-thi-viet-nam-la-gi-429986.jpg" alt="Download QR" class="home-about-us-img">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row app_content">
                    <div class="home-service" style="">
                        <div class="col l-4 home-service-item" data-aos="fade-right"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine">
                            <a href="" class="home-service-link">
                                <div class="overlay-img">
                                    <img src="/assets/img/a1.webp" alt="Download QR" class="home-service-img">
                                    <div class="overlay">
                                        <div class="text">See more>></div>
                                    </div>
                                </div>
                                <div class="home-service-info">
                                    <h1>Quản lý thông tin đất đai</h1>
                                    <h3 class="" style="font-weight:400">Các dịch vụ quản lý đất đai của chúng tôi bao gồm theo dõi và phân tích chi tiết dữ liệu đất đai, đảm bảo rằng khách hàng của chúng tôi có thông tin họ cần để đưa ra quyết định sáng suốt.</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col l-4 home-service-item" data-aos="fade-up"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine">
                            <a href="" class="home-service-link">
                                <div class="home-service-info">
                                    <h1>Quản lý địa chỉ chính số</h1>
                                    <h3 class="" style="font-weight:400">Các dịch vụ quản lý thông số của chúng tôi bao gồm theo dõi và phân tích chi tiết dữ liệu thông số đất, đảm bảo rằng khách hàng của chúng tôi có thông tin họ cần để đưa ra quyết định sáng suốt.</h3>
                                </div>
                                <div class="overlay-img">
                                    <img src="/assets/img/a2.webp" alt="Download QR" class="home-service-img">
                                    <div class="overlay">
                                        <div class="text">See more>></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col l-4 home-service-item" data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine">
                            <a href="" class="home-service-link">
                                <div class="overlay-img">
                                    <img src="/assets/img/a3.webp" alt="Download QR" class="home-service-img">
                                    <div class="overlay">
                                        <div class="text">See more>></div>
                                    </div>
                                </div>
                                <div class="home-service-info">
                                    <h1>Thông tin địa chính đất đai</h1>
                                    <h3 class="" style="font-weight:400">Các dịch vụ quản lý đất đai và thông số đất của chúng tôi bao gồm theo dõi và phân tích chi tiết dữ liệu đất đai và thông số đất, đảm bảo rằng khách hàng của chúng tôi có thông tin họ cần để đưa ra quyết định sáng suốt.</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row app_content">
                    <div class="home-ending" style="">
                        <div class="col l-6">
                            <div class="home-ending-text">
                                <div style="margin: 6rem 0" data-aos="fade-right"
                                data-aos-offset="100"
                                data-aos-easing="ease-in-sine">
                                    <h1 class="separate--home-ending" style="font-size:3.6rem">Người sử dụng nói gì về chúng tôi?</h1>
                                </div>
                                <div style="margin: 6rem 0" data-aos="fade-up"
                                data-aos-anchor-placement="top-bottom" data-aos-offset="300">
                                    <h3>Tôi vô cùng ấn tượng với trình độ chuyên môn và tính chuyên nghiệp mà Bất động sản TIME BIRD mang lại. Họ luôn sẵn sàng trả lời các câu hỏi của tôi và cung cấp cho tôi thông tin tôi cần để đưa ra quyết định sáng suốt.</h3>
                                    <h3 style="color: var(--primary-color)">Jane Doe</h3>
                                </div>

                            </div>
                        </div>
                        <div class="col col l-6">
                            <div class="home-ending-text">
                                <div style="margin: 6rem 0" data-aos="fade-up"
                                data-aos-anchor-placement="top-bottom" data-aos-offset="300">
                                    <h3>Bất động sản TIME BIRD đã cung cấp cho tôi dịch vụ tuyệt vời. Sự chú ý của họ đến từng chi tiết và sự sẵn sàng đi xa hơn để đảm bảo sự hài lòng của tôi thực sự ấn tượng.</h3>
                                    <h3 style="color: var(--primary-color)">John Smith</h3>
                                </div>
                                <div style="margin: 6rem 0" data-aos="fade-up"
                                data-aos-anchor-placement="top-bottom" data-aos-offset="300">
                                    <h3>TIME BIRD Real Estate đã cung cấp cho tôi dịch vụ đặc biệt từ đầu đến cuối. Đội ngũ chuyên gia của họ đã giúp tôi giải quyết những vấn đề phức tạp trong quản lý bất động sản và tôi vô cùng hài lòng với kết quả đạt được.</h3>
                                    <h3 style="color: var(--primary-color)">Robert Johnson</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="grid wide" >
                <div class="row">
                    <div class="col l-2 m-4 c-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Cơ quản lí địa chính</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn sử dụng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Đất đai</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Địa chính</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Quản lí đất</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Địa phận</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Thông báo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-linkedin"></i>
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-8 c-12">
                        <h3 class="footer__heading">Sử dụng web trên ứng dụng</h3>
                        <div class="footer__download">
                            <img src="/assets/img/logo.jpg" alt="Download QR" class="footer__download-qr">
                            <div class="footer__download-apps">
                                <a href="" class="footer__download-app-link">
                                    <img src="/assets/img/ggplay.png" alt="Google play" class="footer__download-app-img">
                                </a>
                                <a href="" class="footer__download-app-link">
                                    <img src="/assets/img/appstore.png" alt="Appstore" class="footer__download-app-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-text-text">
                <div class="footer__about">
                    <ul class="footer__about-us">
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">CHÍNH SÁCH BẢO MẬT</a>
                        </li>
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">QUY CHẾ HOẠT ĐỘNG</a>
                        </li>
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">CHÍNH SÁCH SỬ DỤNG</a>
                        </li>
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">CHÍNH SÁCH TRUY CẬP VÀ CẬP NHẬT</a>
                        </li>
                    </ul>
                    <div class="logo__local">
                        <img src="" alt="" class="logo__local-img">
                    </div>
                </div>
                <ul class="footer__text">
                    <li class="">
                        <p class="footer__text">18 P. Viên, Đông Ngạc, Bắc Từ Liêm, Hà Nội 100000, Việt Nam</p>
                    </li>
                    <li class="">
                        <p class="footer__text">2022-Bản quyền thuộc về Trường đại học Mỏ-Địa Chất </p>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    

    <!-- ModalLayout -->
    <div id="rsn" class="modal" style="display: none">
        <div class="modal__overlay" onclick="resign_close()" ></div>

        <div class="modal__body">
            <!-- Resign form -->
            <div id="rsn" class="auth-form">
                <div  class="auth-form__container" >
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading" >Đăng ký</h3>
                        <span class="auth-form__switch-btn" onclick="resign_to_login()">Đăng nhập</span>
                    </div>

                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>

                    <div class="auth-form__aside">
                        <p class="auth-form_policy-text">
                            Bằng việc đăng kí, bạn đã đồng ý về
                            <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                            <a class="auth-form__text-link"> Chính sách bảo mật</a>
                        </p>
                    </div>

                    <div class="auth-form__controls">
                        <button class="btn auth-form__controls-back btn--normal">TRỞ LẠI</button>
                        <button class="btn btn--primary">ĐĂNG KÝ</button>
                    </div>

                </div>

                <div class="auth-form__socials">
                    <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--facebook">
                        <i class="icon-btn fa-brands fa-facebook"></i>
                        Kết nối với Facebook
                    </a>
                    <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--google">
                        <i class="icon-btn fa-brands fa-google hehe"></i>
                        Kết nối với Google
                    </a>
                </div>
            </div>      
        </div>
    </div>
    <div id="lg" class="modal" style="display: none">
        <div class="modal__overlay" onclick="login_close()"></div>
        <div class="modal__body">
            <!-- Login form -->

            <div class="auth-form">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <span class="auth-form__switch-btn" onclick="login_to_resign()">Đăng ký</span>
                    </div>

                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email">
                        </div>
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập mật khẩu">
                        </div>
                    </div>

                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form_help-separate"></span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>

                    <div class="auth-form__controls">
                        <button class="btn auth-form__controls-back btn--normal" >TRỞ LẠI</button>
                        <button style="border:none">
                            <a href="/templates/index.html" class="btn btn--primary" >ĐĂNG NHẬP</a>
                        </button>
                    </div>

                </div>

                <div class="auth-form__socials">
                    <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--facebook">
                        <i class="icon-btn fa-brands fa-facebook"></i>
                        Kết nối với Facebook
                    </a>
                    <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--google">
                        <i class="icon-btn fa-brands fa-google hehe"></i>
                        Kết nối với Google
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="md" class="modal" style="display:none;z-index:0">
        <div class="modal__overlay"></div>
    </div>


    <!-- JS -->
    <script src="/assets/js/main.js"></script>
</body>
<script>
    AOS.init();
</script>
</html>