<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Quản lí thông số đất đai</title>
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/loginresign.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/listarea.css">
    <link rel="stylesheet" href="/assets/css/table.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="/assets/aos-master/dist/aos.css" rel="stylesheet">
    <script src="/assets/aos-master/dist/aos.js"></script>
</head>
<body>
    <div class="app"> 
        <header class="header" style="border:1px solid gray;background-image:url(/assets/img/dhmdc.jpg);background-size: 1500px;background-repeat:no-repeat;background-attachment: fixed;background-position:50% 15%">
            <div class="" style="position:relative ;background-color: rgba(0, 0, 0, 0.65);height:100%;z-index:2;overflow:hidden">
                <div class="grid">
                    <nav class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
                                Truy cập vào ứng dụng
                                <div class="header__qr">
                                    <img src="/assets/img/QR.jpg" alt="QR code" class="header__qr-img">
                                    <div class="header__qr-apps">
                                        <a href="https://www.netflix.com/vn/" class="header__qr-link">
                                            <img src="/assets/img/ggplay.png" title="Click to dowload in GGPlay" alt="" class="header__qr-dowload-img">
                                        </a>
                                        <a href="https://www.netflix.com/vn/" class="header__qr-link">
                                            <img src="/assets/img/appstore.png" title="Click to dowload in Appstore" alt="" class="header__qr-dowload-img">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="header__navbar-item">
                                Kết nối
                            </li>
                            <a href="" class="header__navbar-icon-link"><i class="fa-brands fa-facebook"></i></a>
                                <a href="" class="header__navbar-icon-link"><i class="fa-regular fa-envelope"></i></a>
                        </ul>
        
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--has-notify">
                                <a href="" class="header__navbar-item-link header__navbar-item--separate-2">
                                    <i class="fa-regular fa-bell"></i>
                                    Thông báo
                                </a>
                                <div class="header__notify">
                                    <header class="header__notify-header">
                                        <h3>Thông báo mới nhận</h3>
                                    </header>
                                    <ul class="header__notify-list">
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Thông báo : Dự kiến sửa đổi, quản lí về đất đai Hà Nội năm 2023</span>
                                                    <div class="header__notify-descriotion">Xem thêm>></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Thông báo : Dự kiến sửa đổi, quản lí về đất đai Hà Nội năm 2023</span>
                                                    <div class="header__notify-descriotion">Xem thêm>></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__notify-item">
                                            <a href="" class="header__notify-link">
                                                <div class="header__notify-info">
                                                    <span class="header__notify-name">Thông báo : Dự kiến sửa đổi, quản lí về đất đai Hà Nội năm 2023</span>
                                                    <div class="header__notify-descriotion">Xem thêm>></div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <footer class="header__notify-footer">
                                        <a href="" class="header__notify-footer-btn">Xem Tất Cả</a>
                                    </footer>
                                </div>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-item-link header__navbar-item-relative">
                                    <i class="fa-solid fa-question"></i>
                                    Trợ giúp
                                </a>
                            </li>
                            <li class="header__navbar-item header__navbar-user">
                                <img src="/assets/img/____-___.jpg" alt="" class="header__navbar-user-img">
                                <span class="header__navbar-user-name">Theanksosad</span>
    
                                <ul class="header__navbar-user-menu">
                                    <li class="header__navbar-user-item">
                                        <a href="" class="">My account</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="" class="">Thông tin đã xem</a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="" class="">Lịch sử hoạt động</a>
                                    </li>
                                    <div class="dropdown">
                                        <a onclick="myFunction()" class="dropbtn">Quyền truy cập admin</a>
                                        <div id="myDropdown" class="dropdown-content">
    
                                            <li class="header__navbar-admin-item">
                                                <a href="/templates/addArea.html" class="">Thêm dữ liệu</a>
                                            </li>
                                            <li class="header__navbar-admin-item">
                                                <a href="/templates/listUser.html" class="">Quản lí người dùng</a>
                                            </li>
                                        </div>
                                    </div>
                                    <li class="header__navbar-user-item">
                                        <a href="/templates/main.html" class="">Log out!</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
    
                    <div class="header-with-logo">
                        <div class="header__navbar-logo" style="margin-left: 40px;">
                            <img style="" class="header__navbar-logo" src="/assets/img/download.png" alt="">
                        </div>
                        <div class="header__navbar-intro">
                            <h1 style="font-size:3rem;color:white;box-shadow: rgba(255, 255, 255, 0.545) 0px 15px 20px;border-radius:200%">WEBSITE QUẢN LÍ THÔNG SỐ ĐẤT</h1>
                        </div>
                        <div class="date-time" >

                            <time datetime="2014-09-20" class="icon">
                                <em id="thu">Thứ 2</em>
                                <strong id="thang">Tháng 12</strong>
                                <span id="ngay">18</span>
                            </time>
                            <div id="watch"><!-- Div cointainer của ví dụ -->
                                <div class="frame-face"></div>
                                <ul class="minute-marks"><!-- HTML của danh sách đánh dấu các phút -->
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                  <li></li><li></li><li></li><li></li><li></li><li></li>
                                </ul>
                                <div class="digital-wrap" style="display: none;"><!-- HTML của box hiển thị giờ đang chạy -->
                                  <ul class="digit-hours">
                                    <li>23</li>
                                    <li>00</li><li>01</li><li>02</li><li>03</li><li>04</li><li>05</li>
                                    <li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li>
                                    <li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li>
                                    <li>18</li><li>19</li><li>20</li><li>21</li><li>22</li>
                                  </ul>
                                  <ul class="digit-minutes">
                                    <li>10</li><li>11</li>
                                    <li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li>
                                    <li>18</li><li>19</li><li>20</li><li>21</li><li>22</li><li>23</li>
                                    <li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li>
                                    <li>30</li><li>31</li><li>32</li><li>33</li><li>34</li><li>35</li>
                                    <li>36</li><li>37</li><li>38</li><li>39</li><li>40</li><li>41</li>
                                    <li>42</li><li>43</li><li>44</li><li>45</li><li>46</li><li>47</li>
                                    <li>48</li><li>49</li><li>50</li><li>51</li><li>52</li><li>53</li>
                                    <li>54</li><li>55</li><li>56</li><li>57</li><li>58</li><li>59</li>
                                    <li>00</li><li>01</li><li>02</li><li>03</li><li>04</li><li>05</li>
                                    <li>06</li><li>07</li><li>08</li><li>09</li>
                                  </ul>
                                  <ul class="digit-seconds">
                                    <li>20</li><li>21</li><li>22</li><li>23</li>
                                    <li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li>
                                    <li>30</li><li>31</li><li>32</li><li>33</li><li>34</li><li>35</li>
                                    <li>36</li><li>37</li><li>38</li><li>39</li><li>40</li><li>41</li>
                                    <li>42</li><li>43</li><li>44</li><li>45</li><li>46</li><li>47</li>
                                    <li>48</li><li>49</li><li>50</li><li>51</li><li>52</li><li>53</li>
                                    <li>54</li><li>55</li><li>56</li><li>57</li><li>58</li><li>59</li>
                                    <li>00</li><li>01</li><li>02</li><li>03</li><li>04</li><li>05</li>
                                    <li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li>
                                    <li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li>
                                    <li>18</li><li>19</li>
                                  </ul>
                                </div>
                                <ul class="digits"><!-- HTML số của giờ -->
                                  <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li>
                                  <li>7</li><li>8</li><li>9</li><li>10</li><li>11</li><li>12</li>
                                </ul>
                                <div class="hours-hand"></div><!-- HTML của kim giờ -->
                                <div class="minutes-hand"></div><!-- HTML của kim phút -->
                                <div class="seconds-hand"></div><!-- HTML của kim giây -->
                            </div>                              
                        </div>
                        
                    </div>
                    <div class="header__category" style="background-color: white;position:absolute;bottom:0;right:0;left:0">
                        <ul class="header__category-list">
                            <a class="header__category-item" href="/templates/index.html">Trang chủ</a>
                            <a class="header__category-item" href="">Dự án</a>
                            <a class="header__category-item" href="/templates/listarea.html">DSKV</a>
                            <a class="header__category-item" href="">TS vật lí</a>
                            <a class="header__category-item" href="">TS Hóa học</a>
                            <div class="animation start-home"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </header>



        <div class="app__container">
            <div class="grid wide" style="padding-bottom:50rem">
                <div class="app-content" style="width: 100%;height:auto">
                    <div class="sm-gutter col l-2 m-0 c-0">
                        <nav class="category">
                            <h3 class="category__heading-icon category__heading">
                                <i class="fa-solid fa-list"></i>
                                DANH MỤC</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="/templates/listarea.html" class="category-item__link">Danh sách khu vực</a>
                                </li>
                                <li class="category-item category-item--active">
                                    <a href="/templates/listPhysic.html" class="category-item__link">DS thông số vật lí</a>
                                </li>
                                <li class="category-item category-item--active">
                                    <a href="/templates/listChemis.html" class="category-item__link">DS thông số hóa học</a>
                                </li>
                            </ul>
                        </nav>     
                    </div>
                    <div class="col l-10 m-12 c-12">
                        <div class="home-filter">
                            <span class="home-filter-text">DANH SÁCH THỜI ĐIỂM ĐÃ CẬP NHẬT DỮ LIỆU TẠI HUYỆN TIÊN DU TỈNH BẮC NINH</span>
                            <div class="searchBox">
                                <input class="searchInput"type="text" name="" placeholder="Nhập để tìm kiếm">
                                <button class="searchButton" href="#">
                                    <i class="fa-brands fa-searchengin"></i>
                                </button>
                            </div>
                        </div>
                        <div class="tablet" style="margin-top:3rem">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Thời điểm cập nhật</th>
                                        <th>Ghi chú</th>
                                        <th>Bản đồ</th>
                                        <th>Xem dữ liệu</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Tháng 9 năm 2022</td>
                                        <td><a class="tablet-link" ></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-map"></i></a></td>
                                        <td><a class="tablet-link" href="/templates/viewData.html"><i class="fa-solid fa-eye"></i></a></td>
                                        <td><a class="tablet-link" href="/templates/editTime.html"><i class="fa-regular fa-pen-to-square"></i></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-trash-can"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Tháng 1 năm 2023</td>
                                        <td><a class="tablet-link" ></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-map"></i></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-eye"></i></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-regular fa-pen-to-square"></i></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-trash-can"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Tháng 11 năm 2023</td>
                                        <td><a class="tablet-link" ></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-map"></i></a></td>
                                        <td><a class="tablet-link" href="/templates/timeUpdate.html"><i class="fa-solid fa-eye"></i></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-regular fa-pen-to-square"></i></a></td>
                                        <td><a class="tablet-link" href=""><i class="fa-solid fa-trash-can"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div> 
                            <button class="button-key" role="button">
                                <a href="" style="text-decoration:none">Thêm mới</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="grid wide" >
                <div class="row">
                    <div class="col l-2 m-4 c-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Cơ quản lí địa chính</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn sử dụng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <h3 class="footer__heading">Danh mục dữ liệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Đất đai</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Địa chính</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Quản lí đất</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Địa phận</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Thông báo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-linkedin"></i>
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2 m-8 c-12">
                        <h3 class="footer__heading">Sử dụng web trên ứng dụng</h3>
                        <div class="footer__download">
                            <img src="/assets/img/logo.jpg" alt="Download QR" class="footer__download-qr">
                            <div class="footer__download-apps">
                                <a href="" class="footer__download-app-link">
                                    <img src="/assets/img/ggplay.png" alt="Google play" class="footer__download-app-img">
                                </a>
                                <a href="" class="footer__download-app-link">
                                    <img src="/assets/img/appstore.png" alt="Appstore" class="footer__download-app-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-text-text">
                <div class="footer__about">
                    <ul class="footer__about-us">
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">CHÍNH SÁCH BẢO MẬT</a>
                        </li>
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">QUY CHẾ HOẠT ĐỘNG</a>
                        </li>
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">CHÍNH SÁCH SỬ DỤNG</a>
                        </li>
                        <li class="footer__about-us-wp">
                            <a href="" class="footer__about-us-link">CHÍNH SÁCH TRUY CẬP VÀ CẬP NHẬT</a>
                        </li>
                    </ul>
                    <div class="logo__local">
                        <img src="" alt="" class="logo__local-img">
                    </div>
                </div>
                <ul class="footer__text">
                    <li class="">
                        <p class="footer__text">18 P. Viên, Đông Ngạc, Bắc Từ Liêm, Hà Nội 100000, Việt Nam</p>
                    </li>
                    <li class="">
                        <p class="footer__text">2022-Bản quyền thuộc về Trường đại học Mỏ-Địa Chất </p>
                    </li>
                </ul>
            </div>
        </footer>
    </div>



    <!-- JS -->
    <script src="/assets/js/main.js"></script>
</body>
<script>
    AOS.init();
</script>
</html>